<a href="https://colab.research.google.com/github/Gulzar-khan/Python-Practice/blob/main/Assignment_Pandas_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [ ]:
# Import statements
import numpy as np
import pandas as pd

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [ ]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Almabetter/Python for Data Science/week 3/Pandas Operations/L, M, A  etc./automobile_data.csv'
df=pd.read_csv(file_path)

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [ ]:
# Your code here

df.head(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,15250,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,17710,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,18920,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.4,8.3,140,5500,17,20,23875,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.4,7.0,160,5500,16,22,NaN,NaN
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.5,2.8,8.8,101,5800,23,29,16430,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.5,2.8,8.8,101,5800,23,29,16925,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,20970,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,mpfi,3.31,3.19,9.0,121,4250,21,28,21105,21105
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,mpfi,3.31,3.19,9.0,121,4250,20,25,24565,24565

In [ ]:
df.tail(15)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,mpfi,3.19,3.4,8.5,90,5500,24,29,9980,9980
191,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,mpfi,3.19,3.4,8.5,110,5500,19,24,13295,13295
192,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,idi,3.01,3.4,23.0,68,4500,33,38,13845,13845
193,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,mpfi,3.19,3.4,9.0,88,5500,25,31,12290,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,23,28,12940,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,23,28,13415,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,24,28,15985,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,24,28,16515,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,mpfi,3.62,3.15,7.5,162,5100,17,22,18420,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,mpfi,3.62,3.15,7.5,162,5100,17,22,18950,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.4,23.0,106,4800,26,27,22470,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,22625

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [ ]:
# Your code here
df=df.replace('?', np.NaN)                                                   # replacing ? mark With np.nan
df=df.replace('n.a', np.NaN)

In [ ]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.4,8.0,115,5500,18,22,17450,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,15250,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,17710,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,18920,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.4,8.3,140,5500,17,20,23875,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.4,7.0,160,5500,16,22,NaN,NaN

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [ ]:
id_max_car_price = df['price'].fillna(0).astype('int32').argmax()                 # index for highest value to not to evalute values with nan setting them to 0 to perform operation
max_car_price = df['price'].fillna(0).astype('int32').max()

In [ ]:
print(f'Most expensive car is by {df["make"][id_max_car_price]} which costs {max_car_price}')

Most expensive car is by mercedes-benz which costs 45400

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [ ]:
# Your code here

df.groupby(["make"]).agg({'horsepower':max}).reset_index()

             make horsepower
0     alfa-romero        154
1            audi        160
2             bmw        182
3       chevrolet         70
4           dodge         88
5           honda         86
6           isuzu         90
7          jaguar        262
8           mazda         84
9   mercedes-benz        184
10        mercury        175
11     mitsubishi         88
12         nissan         97
13         peugot         97
14       plymouth         88
15        porsche        288
16        renault        NaN
17           saab        160
18         subaru         94
19         toyota         92
20     volkswagen         90
21          volvo        162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [ ]:
# Your code here

df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [ ]:
# Your code here. Use apply and lambda

def revised_price(price, engine):
  for p in engine:
    if engine=='front':
      new_price = price
    else:
      new_price = 2*int(price)
    return new_price

In [ ]:

df['new_price'] = df.apply(lambda x: revised_price(x['price'], x['engine-location']),axis=1)

In [ ]:
df[df['engine-location']=="rear"]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,32528,65056
127,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,34028,68056
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,37028,74056

# <b>Problem 9 : Sort the dataframe by car and price columns

In [ ]:
# Your code here
df.sort_values(['make','new_price'], ascending=[False,True]).tail(100)
# df.sort_values(['make','price'], inplace=True)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price
91,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,2bbl,3.15,3.29,9.4,69,5200,31,37,6649,6649
92,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,2bbl,3.15,3.29,9.4,69,5200,31,37,6849,6849
90,1,128,nissan,diesel,std,two,sedan,fwd,front,94.5,...,idi,2.99,3.47,21.9,55,4800,45,50,7099,7099
94,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,2bbl,3.15,3.29,9.4,69,5200,31,37,7299,7299
93,1,103,nissan,gas,std,four,wagon,fwd,front,94.5,...,2bbl,3.15,3.29,9.4,69,5200,31,37,7349,7349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.4,8.3,140,5500,17,20,23875,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,mpfi,3.13,3.4,7.0,160,5500,16,22,NaN,NaN
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,16500

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [ ]:
# Your code here. Use apply
print(df['num-of-doors'].value_counts())
def door_int(numofdoors):
  for i in [numofdoors]:
    if i=='four' :
      numofdoors = 4
    else:
      numofdoors = 2
    return numofdoors
    # print(no_of_doors)

four    114
two      89
Name: num-of-doors, dtype: int64

In [ ]:
df['doors-int'] = df.apply(lambda x: door_int(x['num-of-doors']),axis=1)
# df['doors-int'] = df.apply(lambda x: door_int(x[),axis=1)

In [ ]:
df['doors-int']
print(df['doors-int'].value_counts())

4    114
2     91
Name: doors-int, dtype: int64

In [ ]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,new_price,doors_int,doors-int
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495,13495,None,2
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,16500,16500,None,2
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154,5000,19,26,16500,16500,None,2
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.4,10.0,102,5500,24,30,13950,13950,None,4
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,3.4,8.5,110,5500,19,25,15250,15250,None,2

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [ ]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [ ]:
pf=pd.DataFrame(GermanCars)

In [ ]:
df=pd.DataFrame(japaneseCars)

In [ ]:
frames = [df, pf]

In [ ]:
type1=pd.concat(frames,axis=1)
type1

       Company  Price   Company   Price
0       Toyota  29995      Ford   23845
1        Honda  23600  Mercedes  171995
2       Nissan  61500       BMV  135925
3  Mitsubishi   58900      Audi   71400

In [ ]:
type2=pd.concat(frames)
type2

       Company   Price
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400